<div class="background"></div>
<form [formGroup]="this.formGroup" aria-label="Connect Server" role="document" (ngSubmit)="onSubmit()">
	<label>Alias</label>
	<input type="text" id="alias" formControlName="alias" autocomplete="off" autofocus="true">
	<label>Server address</label>
	<input type="url" id="address" formControlName="address" inputmode="url" autocomplete="off" required>
	<p *ngIf="this.addressControl.invalid && (this.addressControl.dirty || this.addressControl.touched)" class="form-validation">
		<ng-template [ngIf]="this.addressControl.errors?.required">Please enter the server address</ng-template>
		<ng-template [ngIf]="this.addressControl.errors?.pattern">This isn't a valid server address</ng-template>
	</p>
	<label>Username</label>
	<input type="text" id="username" formControlName="username" autocomplete="username" required>
	<p *ngIf="this.usernameControl.invalid && (this.usernameControl.dirty || this.usernameControl.touched)" class="form-validation">
		<ng-template [ngIf]="this.usernameControl.errors?.required">Please enter the username</ng-template>
	</p>
	<label>Password</label>
	<input type="password" id="password" formControlName="password" autocomplete="current-password" required>
	<p *ngIf="this.passwordControl.invalid && (this.passwordControl.dirty || this.passwordControl.touched)" class="form-validation">
		<ng-template [ngIf]="this.passwordControl.errors?.required">Please enter the password</ng-template>
	</p>
	<p *ngIf="this.errorMessage" class="form-validation">
		{{ this.errorMessage }}
	</p>
	<footer>
		<button type="submit">Open</button>
		<button type="button" (click)="onClickCancel()">Cancel</button>
	</footer>
</form>
