th,
td {
  &:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 20%;
  }

  button {
    svg {
      height: 1em;
      min-height: 1em;
      min-width: 1em;
      width: 1em;
    }
  }
}

th:last-child {
  width: 5em;
}

.data {
  word-break: break-word;
}

td.data {
// TODO: pick a better font?
  font-family: monospace;
}

td.actions {
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.level1 {
  padding-inline-start: 1em;
}

.level2 {
  padding-inline-start: 2em;
}

.level3 {
  padding-inline-start: 3em;
}

.identical {
  background-color: var(--dv-diff-identical-bg);
  color: var(--dv-diff-identical-color);
}
