<header class="toolbar">
	<button title="Reload" class="icon-button" (click)="run()"><svg-icon src="assets/icons/refresh.svg"></svg-icon></button>
	<button title="Options" class="icon-button" (click)="this.showOptions()"><svg-icon src="assets/icons/options.svg"></svg-icon></button>
</header>
<table *ngIf="this.source && this.target">
	<thead>
		<th></th>
		<th class="data">{{ this.source?.name }}</th>
		<th class="data">{{ this.target?.name }}</th>
		<th></th>
	</thead>
	<tbody>
		<tr [ngClass]="{'identical': this.source?.partitioned === this.target?.partitioned}">
			<td class="level1">partitioned</td>
			<td class="data">{{ this.source?.partitioned }}</td>
			<td class="data">{{ this.target?.partitioned }}</td>
			<td></td>
		</tr>
		<tr>
			<td class="level1">_security</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class="level2">admins</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr [ngClass]="{'identical': areEqual(this.source?._security?.admins?.names, this.target?._security?.admins?.names)}">
			<td class="level3">names</td>
			<td class="data">{{ this.source?._security?.admins?.names }}</td>
			<td class="data">{{ this.target?._security?.admins?.names }}</td>
			<td></td>
		</tr>
		<tr [ngClass]="{'identical': areEqual(this.source?._security?.admins?.roles, this.target?._security?.admins?.roles)}">
			<td class="level3">roles</td>
			<td class="data">{{ this.source?._security?.admins?.roles }}</td>
			<td class="data">{{ this.target?._security?.admins?.roles }}</td>
			<td></td>
		</tr>
		<tr>
			<td class="level2">members</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr [ngClass]="{'identical': areEqual(this.source?._security?.members?.names, this.target?._security?.members?.names)}">
			<td class="level3">names</td>
			<td class="data">{{ this.source?._security?.members?.names }}</td>
			<td class="data">{{ this.target?._security?.members?.names }}</td>
			<td></td>
		</tr>
		<tr [ngClass]="{'identical': areEqual(this.source?._security?.members?.roles, this.target?._security?.members?.roles)}">
			<td class="level3">roles</td>
			<td class="data">{{ this.source?._security?.members?.roles }}</td>
			<td class="data">{{ this.target?._security?.members?.roles }}</td>
			<td></td>
		</tr>
		<tr>
			<td class="level1">_design</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr *ngFor="let data of this.designDocData" [ngClass]="{'identical': data.identical}" (dblclick)="showDocumentDiff(data.docId)">
			<td class="level2" [title]="data.label">{{ data.label }}</td>
			<td class="data" [title]="data.sourceDoc?._rev ?? data.sourceRev">{{ data.sourceRev }}</td>
			<td class="data" [title]="data.targetDoc?._rev ?? data.targetRev">{{ data.targetRev }}</td>
			<td class="actions">
				<button *ngIf="data.canCompare" type="button" title="Compare" class="icon-button" (click)="showDocumentDiff(data.docId)"><svg-icon src="assets/icons/compare.svg"></svg-icon></button>
				<button *ngIf="data.canCopyToTarget" type="button" class="icon-button" title="Copy document to target" (click)="copyToTarget(data.docId)"><svg-icon src="assets/icons/copy-right.svg"></svg-icon></button>
				<button *ngIf="data.canCopyToSource" type="button" class="icon-button" title="Copy document to source" (click)="copyToSource(data.docId)"><svg-icon src="assets/icons/copy-left.svg"></svg-icon></button>
			</td>
		</tr>
	</tbody>
</table>
