@import "variables";

$panel-gap-per-side: 2px;

:host {
  display: grid;
  grid-template-areas: "source-name target-name ."
                       "source-pane target-pane vscroll"
                       "hscroll     hscroll     .";
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

header {
  align-items: center;
  display: flex;
  min-width: 0;   /* Otherwise won't shrink past total content width */
  padding-block: $toolbar-padding-vertical;

  label {
    overflow: hidden;
    padding-inline: $toolbar-padding-horizontal;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.source-header {
  grid-area: source-name;
  margin-right: $panel-gap-per-side;
}

.target-header {
  grid-area: target-name;
  margin-left: $panel-gap-per-side;
}

section {
  border: var(--dv-default-border-color) solid 0.1px;
  overflow: hidden;

  &.source {
    border-inline-start: none;
    grid-area: source-pane;
    margin-right: $panel-gap-per-side;
  }
  &.target {
    grid-area: target-pane;
    margin-left: $panel-gap-per-side;
  }
  > div {
    display: inline-block;
// TODO: pick a better font?
    font-family: monospace;
    min-width: 100%;
  }
}

.vscroll-only {
  grid-area: vscroll;
  margin-left: -1px;    /* Hides inner DIV (can't be done on DIV as Chrome hides scrollbar for non-visible elements) */
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;   /* Keeping scrollbar visible solves a few layout issues that `auto` causes */

  div {
    height: 100%; /* Initial value - will be overridden at runtime */
    width: 1px;   /* Requires a width for scrollbar to be displayed */
  }
}

.hscroll-only {
  grid-area: hscroll;
  margin-top: -1px;     /* Hides inner DIV (can't be done on DIV as Chrome hides scrollbar for non-visible elements) */
  max-width: 100%;
  overflow-x: scroll;   /* Keeping scrollbar visible solves a few layout issues that `auto` causes */
  overflow-y: hidden;

  div {
    height: 1px;  /* Requires a height for scrollbar to be displayed */
    width: 100%;  /* Initial value - will be overridden at runtime */
  }
}
