@import 'mixins';

:host {
  background: var(--dv-tabstrip-bg);
  border-top: solid 1px var(--dv-tabstrip-bg);
  overflow-x: auto;
  white-space: nowrap;

  @include scrollbars;

  input[type="radio"] {
    appearance: none;
    margin: 0 1px 0 0;    /* Allow background to show through as tab separator */

    &:first-child {
      margin: 0;
    }
    &:checked + label {
      background-color: var(--dv-tab-active-bg);
      color: var(--dv-tab-active-color)
    }
  }
  label {
    align-content: center;
    align-items: center;
    background-color: var(--dv-tab-inactive-bg);
    color: var(--dv-tab-inactive-color);
    cursor: pointer;
    display: inline-flex;
    gap: 0.4em;
    padding: 0.4em 0.5em 0.4em 0.85em;

    button {
      align-items: center;
      background: none;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      display: flex;
      fill: currentColor;
      height: 1.5em;
      justify-content: center;
      padding: 0;
      width: 1.5em;

      &:hover {
        background-color: #00000030;
      }
    }
  }
}
