details {
  overflow-x: hidden;
  white-space: nowrap;

  > :not(summary) {
    margin-inline-start: 1.25em;
  }
}

summary {
  span {
    display: inline-block;
    margin-inline-start: 0.25em;
    padding: 0.25em 0.5em;
    width: 100%;
  }
}

div {
  padding: 0.25em 0.5em;
}
