@import 'variables';

:host {
  display: grid;
  grid-template-areas: "main-menu content";
  grid-template-columns: 200px auto;
  grid-template-rows: 1fr;
  height: 100vh;
}

nav {
  border-inline-end: solid 1px $border-color-default;
  grid-area: main-menu;
  overflow: auto;
  padding: $padding-vertical $padding-horizontal;
}

main {
  grid-area: content;
  overflow: auto;
  padding: $padding-vertical $padding-horizontal;
}
