@import 'variables';

:host {
  border-block-start: solid 1px var(--dv-default-border-color);   /* So there's a line between the window's menu bar and the content */
  display: grid;
  grid-template-areas: "main-menu tabstrip"
                       "main-menu content";
  grid-template-columns: 200px auto;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

nav {
  border-inline-end: solid 1px var(--dv-default-border-color);
  grid-area: main-menu;
  overflow: auto;
  padding: $padding-vertical $padding-horizontal;
}

app-tabstrip {
  grid-area: tabstrip;
}

app-tab-panels {
  grid-area: content;
}
