table {
  table-layout: fixed;
  width: 100%;
}

th,
td {
  vertical-align: baseline;

  &:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 20%;
  }
}

th:last-child {
  width: 5em;
}

.data {
  word-break: break-word;
}

td.data {
// TODO: pick a better font?
  font-family: monospace;
}

.level1 {
  padding-inline-start: 1em;
}

.level2 {
  padding-inline-start: 2em;
}

.level3 {
  padding-inline-start: 3em;
}

.identical {
  background-color: var(--dv-diff-identical-bg);
  color: var(--dv-diff-identical-color);
}
