// TODO: sort out wrapping in table

table {
  table-layout: fixed;
  width: 100%;
}

th:first-child {
  width: 20%;
}

th:last-child {
  width: 5em;
}

.level1 {
  padding-inline-start: 1em;
}

.level2 {
  padding-inline-start: 2em;
}

.level3 {
  padding-inline-start: 3em;
}

.identical {
  background-color: var(--dv-diff-identical-bg);
  color: var(--dv-diff-identical-color);
}
