<header class="source-header">
	<label [title]="this.sourceTitle">{{ this.sourceTitle }}</label>
</header>
<section #source class="source">
	<div [innerHtml]="this.sourceDiffs"></div>
</section>
<header class="target-header">
	<label [title]="this.targetTitle">{{ this.targetTitle }}</label>
</header>
<section #target class="target">
	<div [innerHtml]="this.targetDiffs"></div>
</section>
<div #vscroller class="vscroll-only" (scroll)="updateVerticalScroll($event)"><div></div></div>
<div #hscroller class="hscroll-only" (scroll)="updateHorizontalScroll($event)"><div></div></div>
