@import "modern-css-reset\dist\reset.min.css";
@import "colours";
@import "controls";
@import "pages";
@import '~ngx-toastr/toastr';

body {
  font-family: system-ui;
  font-size: 9pt;
}

details {
  > :not(summary) {
    margin-inline-start: 1em;
  }
}

button {
  img {
    flex-shrink: 0;
    max-height: 1em;
  }
}

.inactive-tab {
  z-index: -1;
}
