@import "modern-css-reset\dist\reset.min.css";
@import "variables";
@import "colours";
@import "controls";
@import "pages";
@import '~ngx-toastr/toastr';

body {
  font-family: system-ui;
  font-size: 9pt;
}

details {
  > :not(summary) {
    margin-inline-start: 1em;
  }
}

button {
  &.icon-button {
    padding: 0.2em;
  }
  img {
    flex-shrink: 0;
    height: 1.2em;
    width: 1.2em;
  }
  & + button {
    margin-inline-start: 0.5em;
  }
}

table {
  table-layout: fixed;
  width: 100%;
}

th,
td {
  padding: 0.25em 0.5em;
  vertical-align: text-bottom;
}

.toolbar {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: $toolbar-padding-vertical $toolbar-padding-horizontal;
}

.inactive-tab {
  z-index: -1;
}
