/* Using (deprecated) CSS 2 system colours, for now, as CSS 3 system colours
  aren't supported in Electron yet.
*/

:root {
  --dv-border-color-default: WindowFrame;

  --dv-modal-overlay-bg: #0000004f;
  --dv-form-bg: Window;
  --dv-form-border: ActiveBorder;
  --dv-form-header-bg: ActiveCaption;

  --dv-tabstrip-bg: #f3f3f3;
  --dv-tab-active-color: var(--dv-default-color);
  --dv-tab-active-bg: #fff;
  --dv-tab-inactive-color: var(--dv-default-color);
  --dv-tab-inactive-bg: #ececec;

  --dv-diff-identical-bg: #effaf3;
  --dv-diff-identical-color: #48c774;
// TODO: work out how to use this in SVG background (_pages.scss - 'app-document-diff .missing:background-image')
  --dv-diff-removed-bg: #e0e0e0;
  --dv-diff-inserted-bg: #e6fcf4;
  --dv-diff-inserted-bg-accent: #beffe7;
  --dv-diff-inserted-color: #1d4a3a;
  --dv-diff-changed-bg: #f9e2d7;
  --dv-diff-changed-bg-accent: #ffcfb8;
  --dv-diff-changed-color: #752d0a;
}

@media (prefers-color-scheme: dark) {

}

