$dark-grey: #999;

/* HACK ALERT!  Just a quick way to lighten/darken the underlying colour */
$color-lighten: #ffffff70;
$color-darken: #00000030;

:root {
  --dv-default-color: #4d4d4d;
  --dv-default-border-color: #{$dark-grey};
  --dv-default-box-shadow: rgba(0,0,0,0.25);
  --dv-default-invalid: #da0000;

  --dv-scrollbar-thumb: #{$dark-grey};
  --dv-scrollbar-track: #dedede;

  --dv-modal-overlay-bg: #00000020;
  --dv-form-bg: #fff;
  --dv-form-border: #b9b9b9;
  --dv-form-header-bg: #69006d;
  --dv-form-header-bg-hover: #{$color-lighten};
  --dv-form-header-color: #ffffff;
  --dv-control-border: #a5a5a5;

  --dv-tabstrip-bg: #f3f3f3;
  --dv-tab-active-color: var(--dv-default-color);
  --dv-tab-active-bg: #fff;
  --dv-tab-active-bg-hover: #{$color-darken};
  --dv-tab-inactive-color: var(--dv-default-color);
  --dv-tab-inactive-bg: #ececec;

  --dv-diff-identical-bg: #effaf3;
  --dv-diff-identical-color: #48c774;
// TODO: work out how to use this in SVG background (_pages.scss - 'app-document-diff .missing:background-image')
  --dv-diff-removed-bg: #e0e0e0;
  --dv-diff-inserted-bg: #e6fcf4;
  --dv-diff-inserted-bg-accent: #beffe7;
  --dv-diff-inserted-color: #1d4a3a;
  --dv-diff-changed-bg: #f9e2d7;
  --dv-diff-changed-bg-accent: #ffcfb8;
  --dv-diff-changed-color: #752d0a;
}

@media (prefers-color-scheme: dark) {

}

