
$padding-horizontal: 1.25em;
$padding-vertical:     1em;
$form-padding:         1em;
$control-padding:   0.75em;
$toolbar-padding-horizontal: 0.5em;
$toolbar-padding-vertical:   0.5em;

$animation-duration:      300ms;
$animation-duration-fast: 150ms;
$animation-delay:         100ms;

